.DS_Store/
.venv/
env/
test/
check_mat.ipynb
.gitignore
__pycache__/
morgan.jpeg

# Python build artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
build/
logs/
pivtools_cli/lib/*.exp
pivtools_cli/lib/*.o
pivtools_cli/lib/*.so
pivtools_cli/lib/*.dylib
pivtools_cli/lib/*.dll
pivtools_cli/lib/*.pdb
pivtools_cli/lib/*.lib
pivtools_cli/lib/*.obj
pivtools_gui/static/*
logs/*
manual_tools/
pypiv.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
